@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');

:root {
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --highlight-light-color: #EDEFEE;
  --highlight-dark-color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif, 'Markazi Text', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Markazi Text', serif;
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: var(--highlight-dark-color);
}

.nav,
.footer {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  justify-content: flex-start;
  align-items: flex-start;
}

.nav li,
.footer li {
  margin-left: 1rem;
  text-decoration: none;
  list-style: none;
}

.nav li a,
.footer li a {
  text-decoration: none;
  color: #000;
  font-family: 'Markazi Text', serif;
}

.hero-wrapper {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 600px;
  border-radius: 16px;
  padding: 2rem;
}

.hero-wrapper img {
  border-radius: 16px;
  width: 100%;
  margin-top: 2rem;
}

.cta {
  display: flex;
  flex-direction: column;
}

.cta h1 {
  color: var(--secondary-color);
}

.cta h2 {
  color: var(--highlight-light-color);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.cta p {
  color: var(--highlight-light-color);
  margin-top: 1rem;
  max-width: 300px;
  font-size: 1rem;
}

.cta button,
.headline button {
  background: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: var(--highlight-dark-color);
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.specials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.headline button {
  margin-top: 0px;
}

.specials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.special-card {
  background-color: var(--highlight-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
  padding: 2rem;
  border-radius: 16px;
  text-decoration: none;
  margin-top: 2rem;
}

.special-card-content {
  margin-top: 1rem;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.about h1,
.about h2,
.about p {
  color: var(--highlight-dark-color);
}

label {
  color: var(--highlight-dark-color);
  font-family: 'Karla', sans-serif;
}

input, select {
  border: 1px solid var(--highlight-dark-color);
  border-radius: 8px;
  padding: 1rem;
}

form {
  min-width: 300px;
}

form button {
  background: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: var(--highlight-dark-color);
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-between;
  }

  .nav li {
    margin-left: 2rem;
  }

  .hero-wrapper {
    padding: 4rem;
    flex-direction: row;
  }

  .hero-wrapper img {
    width: unset;
    margin-top: unset;
  }

  .special-card {
    margin-top: unset;
  }

  .testimonials {
    justify-content: space-between;
  }
}